*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
}


.container{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: space-between;
}

.left{
    width: 35vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.name{
    font-weight: bold;
    font-size: 20px;
}

.role{
    font-weight: lighter;
    text-transform: capitalize;
}

.left button{
    width: 200px;
    background-color: black;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
}

.left button a{
    text-decoration: none;
}

.others{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.others .side-title{
    font-weight: bolder;
    font-size: 32px;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.person{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

.person button{
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.right{
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;

}

.select{
    font-size: 100px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    text-transform: capitalize;
}